<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/list.css"/>
	<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.17.1/bootstrap-table.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.17.1/bootstrap-table.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.17.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<table id="user_list"></table>
<script>
	$(function () {

		$("#user_list").bootstrapTable({

			url:"/user/list.do",    // 数据地址
			striped:true,  // 是否显示行的间隔
			pageNumber:1,  // 初始化加载第几页
			pagination:true,   // 是否分页
			sidePagination:'server',
			pageSize:5,
			pageList:[5,10,20],    // 允许选择的每页显示条目数
			showRefresh:true,  // 显示刷新按钮
			queryParams:function(params){
				// 给服务器发参数
				var temp = {

					offset:params.offset,
					pageNumber:params.limit
				};
				return temp;
			},
			columns:[  // 配置有哪些列
				{

					title:"编号",
					field:"id",
				},
				{

					title:"昵称",
					field:"userName",
				},
				{

					title:"手机号码",
					field:"userPhone",
				},
				{

					title:"密码",
					field:"userPassword",
				},
				{

					title:"注册时间",
					field:"enrollTime",
				},
				{

					title:"登录时间",
					field:"loginTime",
				}
			]
		});
	});
</script>
</body>
</html>